<nav class="navbar">

  <ul class="menu">
    <li class="menu1"><a routerLink="/">Inicio</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register">Registro</a></li>
    <!--<li><a routerLink="/menu">Menú</a></li>
    <li><a routerLink="/galeria">Galeria</a></li>-->
    <li><a routerLink="/"><img class= "img" src="../../assets/imagenes/png-clipart-texas-longhorn-english-longhorn-longhorn-steakhouse-lone-grove-others-cow-goat-family-logo.png" alt=""></a></li>
    <!--<li><a routerLink="/reservas">Reservas</a></li>-->
    <li><a routerLink="/galeria">Galeria</a></li>
    <li><a routerLink="/contacto">Contacto</a></li>
    <li><a routerLink="/acerca">Acerca</a></li>
  </ul>
</nav>


  <div class="general more-info">
    <div class="contact_form">
      <div class="formulario">
        <h1>Formulario de contacto</h1>
        <h3>Escríbenos y en breve los pondremos en contacto contigo</h3>

        <form [formGroup]="formulario" (ngSubmit)="enviarCorreo()">
          <label for="nombre" class="colocar_nombre">Nombre
            <span class="obligatorio">*</span>
          </label>
          <input type="text" formControlName="nombre" placeholder="Escribe tu nombre">

          <label for="email" class="colocar_email">Email
            <span class="obligatorio">*</span>
          </label>
          <input type="email" formControlName="email" placeholder="Escribe tu Email">

          <label for="telefono" class="colocar_telefono">Teléfono
            <span class="obligatorio">*</span>
          </label>
          <input  type="tel" formControlName="telefono" placeholder="Escribe tu teléfono" (keyup)="mostrarErrorTelefono()">

          <div *ngIf="telefonoInvalido && formulario.get('telefono')?.touched" class="error-message">
            Teléfono inválido. Debe tener al menos 10 dígitos numéricos.
          </div>




          <label for="asunto" class="colocar_asunto">Asunto
            <span class="obligatorio">*</span>
          </label>
          <input  type="text" formControlName="asunto" placeholder="Escribe un asunto">
          <div *ngIf="formulario.get('asunto')?.invalid && formulario.get('asunto')?.touched" class="error-message">
            Asunto es requerido
          </div>

          <label for="comentario" class="colocar_mensaje">Comentario
            <span class="obligatorio">*</span>
          </label>
          <textarea formControlName="comentario" placeholder="Deja aquí tu comentario..."></textarea>
          <div *ngIf="formulario.get('comentario')?.invalid && formulario.get('comentario')?.touched" class="error-message">
            Comentario es requerido
          </div>


          <button type="submit" [disabled]="formulario.invalid">
            Enviar
          </button>

          <p class="aviso">
            <span class="obligatorio">*</span>los campos son obligatorios.
          </p>
          <div class="loading-overlay" *ngIf="loading">
            <mat-progress-spinner *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-spinner>
          </div>

        </form>
      </div>
    </div>
  </div>
    <app-lectura-voz></app-lectura-voz>
